In [21]:
import re
count=0
pattern=re.compile("ab")
matcher=pattern.finditer("abaababa")
for match in matcher:
    count+=1
    print(match.start,"...",match.end(),"...",match.group())
print("the number of occurances:",count)

<built-in method start of re.Match object at 0x000002A1ED78FB90> ... 2 ... ab
<built-in method start of re.Match object at 0x000002A1ED78F6B0> ... 5 ... ab
<built-in method start of re.Match object at 0x000002A1ED78FB90> ... 7 ... ab
the number of occurances: 3

In [22]:
matcher=re.finditer("[abc]","a7bC@k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... b
8 ... c

In [23]:
matcher=re.finditer("[^abc]","a7bC@k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

1 ... 7
3 ... C
4 ... @
5 ... k
6 ... 9
7 ... z

In [24]:
matcher=re.finditer("[a-z]","a7bC@k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... b
5 ... k
7 ... z
8 ... c

In [25]:
matcher=re.finditer("[0-9]","a7bC@k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

1 ... 7
6 ... 9

In [26]:
matcher=re.finditer("[a-zA-Z0-9]","a7bC@k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
1 ... 7
2 ... b
3 ... C
5 ... k
6 ... 9
7 ... z
8 ... c

In [27]:
matcher=re.finditer("\s","a7bC @k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

4 ...

In [28]:
matcher=re.finditer("\d","a7bC @k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

1 ... 7
7 ... 9

In [29]:
matcher=re.finditer("\D","a7bC @k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... b
3 ... C
4 ...
5 ... @
6 ... k
8 ... z
9 ... c

In [30]:
matcher=re.finditer("\w","a7bC @k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
1 ... 7
2 ... b
3 ... C
6 ... k
7 ... 9
8 ... z
9 ... c

In [31]:
matcher=re.finditer("a","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... a
3 ... a
5 ... a
6 ... a

In [32]:
matcher=re.finditer("a+","abaabaaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... aa
5 ... aaa

In [33]:
matcher=re.finditer("a{3}","abaabaaab")
for match in matcher:
    print(match.start(),"...",match.group())

5 ... aaa

In [34]:
matcher=re.finditer("a{2,4}","abaabaaab")
for match in matcher:
    print(match.start(),"...",match.group())

2 ... aa
5 ... aaa

In [35]:
s="Learning Python is very Easy"
res=re.search("^Learn",s)
if res!=None:
    print("Target String Starts with Learn")
else:
    print("Target String not Start with Learn")

Target String Starts with Learn

In [36]:
s="Learning Python is very Easy"
res=re.search("Easy$",s)
if res!=None:
    print("Target String Ends with Easy")
else:
    print("Target String not End with Easy")

Target String Ends with Easy

In [37]:
s="Learning Python is very Easy"
res=re.search("easy$",s,re.IGNORECASE)
if res!=None:
    print("Target String Ends with Easy")
else:
    print("Target String not End with Easy")

Target String Ends with Easy

In [ ]:
n=input("enter the number")
res=re.search("^[6789][0-9]{9}",n)
if res!=None:
    print("valid")
else:
    print("invalid")

In [40]:
f1=open("input.txt","r")
f2=open("output.txt","w")
for line in f1:
    line=line.rstrip()
    list=re.findall("^[6-9]\d{9}",line)
    for n in list:
        f2.write(n+"\n")
print("extracted all mobile numbers")
f1.close()
f2.close()

extracted all mobile numbers

In [51]:
import pandas as pd
train=pd.read_csv('titanic_train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [47]:
import re
inp=input("enter number plate")
res=re.fullmatch("KA[0][0-6][A-Z]{2}\d{4}",inp)
if res!=None:
    print("valid")
else:
    print("invalid")

enter number plateKA02MA9876
valid

In [49]:
s=input("enter the email id:")
m=re.fullmatch("\w[a-zA-Z0-9_.]*@gmail[.]com",s)
if m!=None:
    print("valid")
else:
    print("invalid")

enter the email id:lubnagl@gmail.com
valid