In [2]:
import pandas as pd
df1=pd.DataFrame({'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']},index=[0,1,2,3])

In [3]:
df2=pd.DataFrame({'A':['A4','A5','A6','A7'],'B':['B4','B5','B6','B7'],'C':['C4','C5','C6','C7'],'D':['D4','D5','D6','D7']},index=[4,5,6,7])

In [4]:
df3=pd.DataFrame({'A':['A8','A9','A10','A11'],'B':['B8','B9','B10','B11'],'C':['C8','C9','C10','C11'],'D':['D8','D9','D10','D11']},index=[8,9,10,11])

In [5]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [6]:
pd.concat([df1,df2,df3],axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [7]:
left=pd.DataFrame({'key':['K0','K1','K2','K3'],'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']})
right=pd.DataFrame({'key':['K0','K1','K2','K3'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']})

In [8]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [9]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [10]:
pd.merge(left,right,how='inner',on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [11]:
left=pd.DataFrame({'key1':['K0','K0','K1','K2'],
                   'key2':['K0','K1','K0','K1'],
                   'A':['A0','A1','A2','A3'],
                   'B':['B0','B1','B2','B3']})
right=pd.DataFrame({'key1':['K0','K1','K1','K2'],
                    'key2':['K0','K0','K0','K0'],
                    'C':['C0','C1','C2','C3'],
                    'D':['D0','D1','D2','D3']})

In [12]:
pd.merge(left,right,on=['key1','key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [13]:
pd.merge(left,right,how='outer',on=['key1','key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [14]:
pd.merge(left,right,how='right',on=['key1','key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [15]:
pd.merge(left,right,how='left',on=['key1','key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

In [16]:
left=pd.DataFrame({'A':['A0','A1','A2'],
                   'B':['B0','B1','B2']},
                  index=['K0','K1','K2'])
right=pd.DataFrame({'C':['C0','C1','C2'],
                   'D':['D0','D1','D2']},
                  index=['K0','K2','K3'])

In [17]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C1   D1

In [18]:
left.join(right,how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C1   D1
K3  NaN  NaN   C2   D2

In [19]:
df=pd.read_csv("Salaries.csv")
df.head()

FileNotFoundError: File b'Salaries.csv' does not exist

In [ ]:
df['BasePay'].mean()

In [ ]:
df['OvertimePay'].max()

In [ ]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

In [ ]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPay']

In [ ]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]

In [ ]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].min()]

In [ ]:
df.groupby('Year').mean()['BasePay']

In [ ]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [ ]:
sum(df['JobTitle'].apply(lambda x:chief_string(x)))

In [ ]:
df['title_len']=df['JobTitle'].apply(len)

In [ ]:
df[['title_len','TotalPayBenefits']].corr()

In [ ]:
import numpy as np
A=np.array([[1,2,3],[4,5,6],[7,8,8]])

In [ ]:
from scipy import linalg

In [ ]:
linalg.det(A)

In [ ]:
P,L,U=linalg.lu(A)

In [ ]:
P

In [ ]:
np.dot(L,U)

In [ ]:
U

In [ ]:
L

In [ ]:
EW,EV=linalg.eig(A)

In [ ]:
EW

In [ ]:
EV

In [ ]:
import numpy as np
import pandas as pd
%matplotlib inline

In [ ]:
df1=pd.read_csv('df1',index_col=0)
df2=pd.read_csv('df2')

In [ ]:
df1['A'].hist()

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [ ]:
plt.style.use('bmh')
df1['A'].hist()

In [ ]:
plt.style.use('dark_background')
df1['A'].hist()

In [ ]:
df2.plot.area(alpha=0.4)

In [ ]:
df2.plot.bar()

In [ ]:
df2.plot.bar(stacked=True)

In [ ]:
df1['A'].plot.hist(bins=50)

In [ ]:
df1.plot.line(x=df1.index,y='B',figsize=(12,3),lw=1)

In [ ]:
df1.plot.scatter(x='A',y='B')

In [ ]:
df1.plot.scatter(x='A',y='B',c='C',cmap='coolwarm')

In [ ]:
df1.plot.scatter(x='A',y='B',s=df1['C']*200)

In [ ]:

df2.plot.box()

In [ ]:
df=pd.DataFrame(np.random.randn(1000,2),columns=['a','b'])
df.plot.hexbin(x='a',y='b',gridsize=25,cmap='Oranges')

In [ ]:
df2['a'].plot.kde()

In [ ]:
df2.plot.density()
print("hey we are studyimg data science")

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

In [ ]:
import numpy as np
x=np.linspace(0,5,11)
y=x**2

In [ ]:
x

In [ ]:
plt.plot(x,y,'r')
plt.xlabel('x Axis title here')
plt.ylabel('y Axis title here')
plt.title('String title here')
plt.show()

In [21]:
print("hey we are studying data science")

hey we are studying data science